# Linear Regression Project

Import libraries and read the dataset

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder

total_data = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/linear-regression-project-tutorial/main/medical_insurance_cost.csv")

In [5]:
total_data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [6]:
total_data.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

Seperating types of features by dtype

In [7]:
num_col = ["age", "bmi", "children", "charges"]
cat_col = ["sex","smoker","region"]

Begin in-depth EDA for numerical columns

In [ ]:
for col in range(len(num_col)):
    print(f"EDA for the columns {num_col[col]}")
    print(total_data[num_col[col]].describe())
    print(f"Are there missing values for {num_col[col]}?")
    print(total_data[num_col[col]].isna().sum())
    
    fig, (ax1, ax2) = plt.subplots(2,1, sharex= False, gridspec_kw={'height_ratios': [3,1]})

    sns.histplot(total_data[num_col[col]],kde=True,ax=ax1)
    ax1.set_title('Histogram and Boxplot')
    ax1.set_ylabel('Frequency')

    sns.boxplot(total_data[num_col[col]],ax=ax2)
    ax2.set_xlabel('Data')
    ax2.set_ylabel('Boxplot')

Begin in-depth EDA for categorical features

In [ ]:
fig, axis = plt.subplots(1,1, sharex= False)

sns.histplot(total_data['sex'])

In [ ]:
fig, axis = plt.subplots(1,1)

sns.histplot(total_data['smoker'])

In [ ]:
pd.crosstab(total_data["sex"], [total_data["smoker"], total_data["region"]])

# Basic model for predictions

In [ ]:
X_num = total_data[["age", "bmi", "children"]]
X_cat = total_data